@use '../abstract/mixins';
@use '../abstract/variaveis';

#nosso-espaco{
    @include mixins.margem-central(80%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .detalhes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 100%;
        .imgs-espaco{
            max-width: 500px;
            .img-espaco{
                width: 100%;
            }
        }
        .espaco-textos{
            max-width: 600px;
            width: 55%;
            .titulo{
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 31px, variaveis.$roxo-vibrante); 
                font-weight: 500;
            }

            .infos{
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 22px, variaveis.$roxo-escuro);
            }

            .separador{
                width: 100%;
            }
        }
        &:nth-child(2){
            flex-direction: row-reverse ;
            .imgs-espaco{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
            }

            
        }
    }

    // .detalhes:nth-of-type(2){
    //     flex-direction: row-reverse;
}